* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #111;
    color: white;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #00adb5;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 46px;
    animation: fadeIn 2s;
}

.hero span {
    color: #ffdd00;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: white;
    color: #111;
    border-radius: 25px;
    text-decoration: none;
}

/* SECTIONS */
section {
    padding: 60px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* SKILLS */
.skill-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skill-box div {
    background: #00adb5;
    color: white;
    padding: 18px;
    text-align: center;
    border-radius: 10px;
}

/* EXPERIENCE */
.experience {
    background: white;
}

.exp-card {
    background: #f9f9f9;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.exp-card ul {
    margin-top: 10px;
    padding-left: 20px;
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* CONTACT */
.contact {
    background: #222;
    color: white;
    text-align: center;
}

.contact form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact input,
.contact textarea {
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: none;
}

.contact button {
    padding: 12px;
    background: #00adb5;
    border: none;
    color: white;
    cursor: pointer;
}

.contact-info {
    margin-top: 20px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    .hero h2 {
        font-size: 32px;
    }
}
